#myChart{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 5px;
  width: 15px;
}

/* ----------------------------- TITULO I NAV ------------------------------ */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
  margin-right: 10px;
}

.electro-title {
  font-family: 'Arial', sans-serif;
  font-size: 110px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  background-image: linear-gradient(to right, #0066cc, #003399);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #004d99;
}

/*------------------------ Fin del titilo i el nav ---------------------------*/
