
<div class="logo-container">
  <img src="../assets/imatges/Logo.png" alt="Logo de la empresa">
  <h1 class="electro-title">ElectroMundo</h1>
</div>

<div class="nav-container">
  <a routerLink="/formulario" class="nav-button">Formulario</a>
  <a routerLink="/grafico" class="nav-button">Grafico</a>
  <a routerLink="/login" class="nav-button">Inicio sesion</a>
  <a routerLink="/register" class="nav-button">Registro</a>
</div>






<div id="contenedor">

    <div id="contenedorcentrado">
      <div id="login">
        <form id="loginform" (ngSubmit)="onSubmit()">
          <label for="usuario">Usuario</label>
          <input id="usuario" type="text" [(ngModel)]="username" name="usuario" required>

          <label for="password">Contraseña</label>
          <input id="password" type="password" [(ngModel)]="password" name="password" required>

          <button type="submit" title="Ingresar" name="Ingresar" (click)="loginWithMetamask()" >Inicio</button>

        </form>
        <div id="routing">
          <a routerLink="/register">¿No tienes cuenta? Registra-te!</a>
        </div>

      </div>
      <div id="derecho">
        <div class="titulo">
          Inicio De Sesion
        </div>

        <hr>

        <div class="titulo">
          ElectroMundo
        </div>
      </div>
    </div>
  </div>



