<p>product-list works!</p>

<h2>Lista de productos API</h2>
<!--
<ul>
  <li *ngFor="let product of products">
    <h3>{{ product.name }}</h3>
    <p>Precio: {{ product.price }}</p>
    <p>Descripción: {{ product.description }}</p>
  </li>
</ul>
-->
<head>
  <title>Galería de productos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container">
  <h1>Galería de productos</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="../assets/imatges/movil.jpg" class="card-img-top" alt="Producto 1">
        <div class="card-body">
          <h5 class="card-title">Portatil</h5>
          <p class="card-text">Hp pavillon 360 32ram I7.</p>
          <a href="#" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../assets/imatges/portatil.jpg" class="card-img-top" alt="Producto 2">
        <div class="card-body">
          <h5 class="card-title">Movil</h5>
          <p class="card-text">Samsung galaxi 20 6RAM 128GB.</p>
          <a href="#" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../assets/imatges/tablet.jpg" class="card-img-top" alt="Producto 3">
        <div class="card-body">
          <h5 class="card-title">Tablet</h5>
          <p class="card-text">Ipad pro.</p>
          <a href="#" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
