
<div class="logo-container">
  <img src="../assets/imatges/Logo.png" alt="Logo de la empresa">
  <h1 class="electro-title">ElectroMundo</h1>
</div>

<div class="nav-container">
  <a routerLink="/wallet" class="nav-button">Wallet</a>
  <a routerLink="/formulario" class="nav-button">Formulario</a>
  <a routerLink="/grafico" class="nav-button">Grafico</a>
  <a routerLink="/login" class="nav-button">Inicio sesion</a>
  <a routerLink="/register" class="nav-button">Registro</a>
</div>

<div class="usuario">
  <h2>ID USUARIO: {{ this.userId  }}</h2>
</div>
  <div class="cart-container">
    <h2>Carrito de Compras</h2>
    <table class="cart-table">
      <!-- ... Resto del código del carrito ... -->
        <thead>
        <tr>
          <th>Producto</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>CryptoMoneda</th>
          <th></th>
        </tr>
        </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.cryptoPrice }}</td>
        <td>
          <button class="add-to-cart-btn" (click)="addToCart(product.id, 1)">Agregar</button>
          <button class="remove-from-cart-btn" (click)="removeFromCart(product.id)">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
    <h3>Productos en el carrito:</h3>
    <ul>
      <li *ngFor="let product of productsInCart">
        {{ product.name }} - {{ product.price }} - Cantidad: {{ product.quantity }}
      </li>
    </ul>
    <p class="total" >Total: {{ total }}</p>
    <button class="buy-btn" (click)="buyCart()">Comprar</button>
  </div>



<app-product-list></app-product-list>
