<p>welcome works!</p>

<H1>INICIO EXITOSO</H1>


  <div class="cart-container">
    <h2>Carrito de Compras</h2>
    <table class="cart-table">
      <!-- ... Resto del código del carrito ... -->
        <thead>
        <tr>
          <th>Producto</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th></th>
        </tr>
        </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button (click)="addToCart(product.id)">Agregar al carrito</button>
        </td>
      </tr>
      </tbody>
    </table>
    <h3>Productos en el carrito:</h3>
    <ul>
      <li *ngFor="let product of productsInCart">
        {{ product.name }} - {{ product.price }}
      </li>
    </ul>
    <p>Total: {{ total }}</p>
    <button (click)="buyCart()">Comprar</button>
  </div>


